<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <div class="app-sidebar__user">
    <div class="app-sidebar__user-avatar">
      <i class="fa fa-user-circle-o fa-2x"></i>
    </div>
    <div>
      <p class="app-sidebar__user-name">Bienvenido</p>
      <p class="app-sidebar__user-designation">{{nombre}}</p>
      <p class="app-sidebar__user-designation"><small>{{areatrabajo}}</small></p>
      <p class="app-sidebar__user-designation">{{departamento.toUpperCase()}}</p>
    </div>
  </div>
  <ul class="app-menu">
    <li>
      <a class="app-menu__item" href="#" [routerLink]="[ '/escritorio' ]"
        ><i class="app-menu__icon fa fa-dashboard"></i
        ><span class="app-menu__label">Escritorio</span></a
      >
    </li>
    <li class="treeview" *ngFor="let menu of menus">
      <a class="app-menu__item" href="#" data-toggle="treeview"
        ><i class="app-menu__icon {{ menu.imagen }}"></i
        ><span class="app-menu__label">{{ menu.enlace }}</span
        ><i class="treeview-indicator fa fa-angle-right"></i
      ></a>
      <ul class="treeview-menu">
        <li *ngFor="let submenu of menu.enlaces">
          <a class="treeview-item" href="#" [routerLink]="[ '/'+submenu.ruta ]">
            <i class="icon {{ submenu.imagen }}"></i> {{ submenu.enlace }}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</aside>
