<app-cabeceratitulos [titulo]="'Contratos'" [descripcion]="'Altas y Modificaciones de Contratos'" [icono]="'list'" [opcion]="'Contratos'">
</app-cabeceratitulos>

<div class="row">
    <div class="col-md-12">
        <div class="tile">

            <div class="row">
                <div class="col-md-12 mb-2">
                    <div class="input-group justify-content-end">
                        <div class="input-group-prepend">
                            <button class="btn btn-primary mr-2" type="button" (click)="fadicionar(ab)" data-toggle="tooltip" data-placement="top" title="Adicionar dato"><i class="fa fa-plus"></i> Agregar </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-8">
                    <div class="input-group">
                        <input type="text" class="form-control mr-1" #buscar placeholder="Ingrese dato a buscar..." (keyup.enter)="fbuscar(buscar.value)"/>
                        <span class="input-group-prepend">
                            <button class="btn btn-primary mr-1" (click)="fbuscar(buscar.value)" data-toggle="tooltip" data-placement="top" title="Buscar Customer">
                                <i class="fa fa-search"></i> Buscar
                            </button>
                            <button class="btn btn-dark" (click)="limpiar()" (click)="buscar.value=''" data-toggle="tooltip" data-placement="top" title="Limpiar criterios de búsqueda">
                                <i class="fa fa-list"></i> Limpiar
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-4 mt-1" *ngIf="total > cantidad">
                    <ngb-pagination class="d-flex justify-content-end align-items-baseline pagination-rounded" [collectionSize]="total" [(page)]="pagina" [maxSize]="2" [rotate]="false" [ellipses]="false" [pageSize]="cantidad" [boundaryLinks]="true" (pageChange)="mostrarMas($event)" size="sm"></ngb-pagination>
                </div>
            </div>

            <div class="table-responsive" *ngIf="datos?.length">
                <p class="text-right" *ngIf="total==1">Total: <b>{{total}} registro</b>&nbsp;
                    <select #cantidad (change)="fcambiarcantidad(cantidad.value)">
                        <option [value]="5">5</option>
                        <option [value]="10" selected>10</option>
                        <option [value]="20">20</option>
                    </select>
                </p>
                <p class="text-right" *ngIf="total>1">Total: <b>{{total}} registros</b>&nbsp;
                    <select #cantidad (change)="fcambiarcantidad(cantidad.value)">
                        <option [value]="5">5</option>
                        <option [value]="10" selected>10</option>
                        <option [value]="20">20</option>
                    </select>
                </p>
                <table class="table table-sm table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Nro.</th>
                            <th class="text-center">NRO Contrato</th>
                            <th class="text-center">Tipo</th>
                            <th class="text-center">Inicio</th>
                            <th class="text-center">Fin</th>
                            <th class="text-center">Precio</th>
                            <th class="text-center">Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let _item of datos; let i = index ">
                            <td class="text-center">{{i+1}}</td>
                            <td class="text-left">{{ _item._id}}</td>
                            <td class="text-left">{{ _item.contractType }}</td>
                            <td class="text-left">{{ _item.startDate}}</td>
                            <td class="text-left">{{ _item.endDate}}</td>
                            <td class="text-left">{{ _item.price}}</td>
                            <td class="text-center">
                                <button class="btn btn-success btn-sm mr-2 mb-2" (click)="fmodificar(_item._id, ab)" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i> Editar</button>
                                <button class="btn btn-danger btn-sm mr-2 mb-2" (click)="fborrar(_item._id)" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fa fa-trash"></i> Editar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive" *ngIf="!datos?.length">
                <h1 class="text-center"><b>Sin datos</b></h1>
            </div>
        </div>
    </div>
</div>
<ng-template #ab>
    <div class="modal-header">
        <h4 class="modal-title pull-left"><i class="fa fa-edit"></i> {{ estado }} Contrato</h4>
    </div>
    <div class="modal-body">
        <p class="text-info">Todos los campos remarcados con * (Asterisco) son necesarios.</p>

        <form [formGroup]="formulario" (ngSubmit)="faceptar()">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Propiedad <span class="text-danger"><b>*</b></span></label>
                    <input type="text" class="form-control" formControlName="property" [class.is-invalid]="f.property.errors && f.property.touched" />
                    <small *ngIf="f.property.errors && f.property.touched" class="text-danger">
                        El dato es obligatorio
                    </small>
                </div>
                <div class="form-group col-md-6">
                    <label>Cliente <span class="text-danger"><b>*</b></span></label>
                    <input type="text" class="form-control" formControlName="customer" [class.is-invalid]="f.customer.errors && f.customer.touched"/>
                    <small *ngIf="f.customer.errors && f.customer.touched" class="text-danger">
                        El dato es obligatorio
                    </small>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-8">
                    <label>Tipo de contrato </label>
                    <select type="text" class="form-control" formControlName="contractType" [class.is-invalid]="f.contractType.errors && f.contractType.touched">
                      <option value="Sale">Venta</option>
                      <option value="Rent">Renta</option>
                      <option value="Lease">Alquiler</option>
                      <option value="Other">Otro</option>
                    </select>
                    <small *ngIf="f.contractType.errors && f.contractType.touched" class="text-danger">
                        El dato es obligatorio
                    </small>
                </div>
                <div class="form-group col-md-6">
                    <label>Fecha de Inicio <span class="text-danger"><b>*</b></span></label>
                    <input input="datetime-local" class="form-control" formControlName="startDate" [class.is-invalid]="f.startDate.errors && f.startDate.touched">
                    <small *ngIf="f.startDate.errors && f.startDate.touched" class="text-danger">
                        El dato es obligatorio
                    </small>
                </div>
                <div class="form-group col-md-6">
                  <label>Fecha Fin </label>
                  <input input="datetime-local" class="form-control" formControlName="endDate" [class.is-invalid]="f.endDate.errors && f.endDate.touched"/>
                  <small *ngIf="f.endDate.errors && f.endDate.touched" class="text-danger">
                      El dato es obligatorio
                  </small>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label>Terminos </label>
                <input type="text" class="form-control" formControlName="terms" [class.is-invalid]="f.terms.errors && f.terms.touched"/>
                <small *ngIf="f.terms.errors && f.terms.touched" class="text-danger">
                    El dato es obligatorio
                </small>
              </div>
              <div class="form-group col-md-5">
                <label>Precio </label>
                <input type="number" class="form-control" formControlName="price" [class.is-invalid]="f.price.errors && f.price.touched"/>
                <small *ngIf="f.price.errors && f.price.touched" class="text-danger">
                    El dato es obligatorio
                </small>
              </div>
          </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success m-2" [disabled]="!formulario.valid"  data-toggle="tooltip" data-placement="top" title="Grabar dato de Customer">
                    <i class="fa fa-save"></i> Grabar
                </button>
                <button type="button" class="btn btn-danger" (click)="fcancelar()" data-toggle="tooltip" data-placement="top" title="Cancelar registro">
                    <i class="fa fa-times"></i> Cancelar
                </button>
            </div>

        </form>
    </div>
</ng-template>
